@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
/* Add this to your CSS file */
.hero::before {
  content: '';
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50%;
  background: radial-gradient(circle, rgba(17, 156, 89, 0.5) 0%, rgba(5, 20, 13, 0) 70%);
  filter: blur(50px);
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  animation: glow 3s forwards;
}

.neon-mist::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background: radial-gradient(circle, rgba(29, 164, 99, 0.5) 0%, rgba(5, 20, 13, 0) 70%);
  filter: blur(50px);
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  animation: glow 3s forwards;
}

.neon-mist1::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: radial-gradient(circle, rgba(17, 115, 67, 0.5) 0%, rgba(5, 20, 13, 0) 70%);
  filter: blur(50px);
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  animation: glow 3s forwards;
}
@keyframes glow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(1.1);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
  
  .rotate-hover {
    transition: transform 0.3s ease-in-out;
  }
  
  .rotate-hover:hover {
    animation: rotate 0.7s ease-in-out ;
  }
  
  /* tooltip */
  .tooltip-text {
    background-color: red;
    opacity: 0;
    transition: opacity 0.3s ease;

    z-index: 5;
  }
  
  .tooltip-text.active {
    opacity: 1;
  }
  

/* Custom scrollbar for WebKit browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}

::-webkit-scrollbar-track {
  background: #05140D; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #2FB574; /* Color of the scrollbar thumb */
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #1B7A57; /* Thumb color on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #2FB574 #05140D; /* Thumb color and track color */
  border-radius: 50%;
}

/* Adding a smooth scrolling effect */
html {
  scroll-behavior: smooth;
}

/* Hide the scrollbar for IE */
body {
  -ms-overflow-style: none; /* Hides the scrollbar in IE */
}
